.buyers {
  &-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-link {
      margin-right: 10px;
    }

    &-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 50px;
      border-radius: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
      background-color: #ffffff;
    }

    &-icon {
      display: block;

      img {
        @include breakpoint(phone) {
          width: 20px;
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
