.content {
  width: calc(100% - 180px);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  padding-bottom: 80px;

  @include breakpoint(tab-port) {
    width: calc(100% - 100px);
  }

  @include breakpoint(phone) {
    width: calc(100% - 100px);
    padding-right: 30px;
  }

  @include breakpoint(xs) {
    width: 100%;
    margin-top: 80px;
  }

  @include breakpoint(xxs) {
    padding-right: 14px;
  }

  &-title {
    font-size: 25px;
    margin-bottom: 14px;
  }
}

.sidebar {
  width: 110px;

  @include breakpoint(xs) {
    width: 20px;
  }
}