.autocomplete {
  position: relative;

  input {
    border: 1px solid #535353;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    padding: 5px;
    margin: 3px;

    &:focus {
      outline: none;
    }
  }
}
.autocomplete-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-top: none;
  background-color: white;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 172px;
  max-height: 300px;
  overflow-y: scroll;
}

.autocomplete-list .autocomplete-item {
  display: block;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  background-color: #fff; }

.autocomplete-list .autocomplete-item:hover {
  background-color: #19222d;
  color: #fff;
  text-decoration: none;
  transition: all .3s; }


.autocomplete-active {
  background-color: #ddd !important;
  color: #ffffff; }

.autocomplete-list::-webkit-scrollbar {
  width: 6px; }

.autocomplete-list::-webkit-scrollbar-track {
  background: #f1f1f1; }

.autocomplete-list::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #007ac7; }

.autocomplete-list::-webkit-scrollbar-thumb:hover {
  background: #555; }