.logo {
  position: absolute;
  top: 16px;
  left: 30px;

  img {
    @include breakpoint(tab-port) {
      width: 40px;
    }

    @include breakpoint(xs) {
      width: 30px;
    }
  }
}

.nav-left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 110px;
  height: calc(100vh - 100px);
  border-top-right-radius: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(tab-port) {
    width: 80px;
  }

  @include breakpoint(phone) {
    width: 60px;
  }

  @include breakpoint(xs) {
    display: none;
    position: unset;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    list-style: none;

    &__item {
      @include flex-center;
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      position: relative;

      @include breakpoint(phone) {
        height: 30px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        width: 6px;
        height: 36px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: $color-primary;
        opacity: 0;
        transition: opacity .3s;
      }

      a svg path {
        transition: all .3s;
      }

      &:hover:before, &.active:before{
        opacity: 1;
      }

      &:hover > a svg path {
        fill: lighten($color-primary, 10%);
      }
    }
  }

  &-bottom {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
  }
}

.nav-top {
  //position: absolute;
  //top: 10px;
  //right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;

  @include breakpoint(xs) {
    width: calc(100% - 100px);
    padding-right: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @include breakpoint(xxs) {
    width: calc(100% - 80px);
    padding-right: 0;
  }

  &-panel {
    display: flex;
    align-items: center;
  }

  &-currency {
    display: flex;

    @include breakpoint(xs) {
      flex-direction: column;
    }

    &__item {
      display: flex;
      align-items: center;
      color: $color-primary;
      font-size: 10px;
      margin-right: 10px;

      @include breakpoint(xxs) {
        font-size: 8px;
      }

      svg {
        width: 7px;
        margin-right: 3px;
      }
    }
  }

  .notifications-list,
  .nav-top-profile__list {
    position: absolute;
    top: 50px;
    width: 300px;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    padding: 10px 17px;

    opacity: 0;
    transform: translateY(-10px);
    transition: all .2s ease-in-out;

    &.open {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-notifications,
  &-profile {
    @include flex-center;
    position: relative;
    min-width: 57px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    margin-right: 10px;
    padding: 3px 17px;

    &:hover {
      cursor: pointer;
    }
  }

  &-notifications {
    .notifications-count {
      position: absolute;
      top: 12px;
      right: 16px;
      z-index: 2;
      @include flex-center;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #fc476e;
      color: white;
      font-size: 7px;
    }
  }

  &-profile {
    text-decoration: none;

    &__img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 13px;

      img { @include image-cover; }
    }

    &__name {
      @include breakpoint(xs) {
        display: none;
      }
    }

    &__list {
      width: 140px !important;
      display: flex;
      flex-direction: column;
      font-size: 16px !important;

      a {
        margin-bottom: 5px;
        text-decoration: none;
      }
    }
  }
}

.nav-bottom {
  display: none;

  @include breakpoint(xs) {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    z-index: 100;
  }

  &-menu {
    @include breakpoint(xs) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
    }
  }

  .nav-left-menu__item {
    background-color: white;
    margin-bottom: 0;
    padding: 7px 0;

    &:before {
      @include breakpoint(xs) {
        top: 0;
        right: 50%;
        transform: translateX(50%);

        width: 36px;
        height: 3px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    img {
      @include breakpoint(xs) {
        width: 20px;
      }
    }
  }
}