.products {
  position: relative;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

    @include breakpoint(tab-land) {
      flex-direction: column;
    }

    @include breakpoint(xxs) {
      margin-right: 0;
    }

    &-panel {
      display: flex;
      align-items: flex-start;
      margin-top: 7px;

      @include breakpoint(tab-land) {
        margin-bottom: 30px;
      }

      &__link {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        margin-right: 10px;
        line-height: 21px;

        &.add-link {
          color: $color-primary;
          margin-right: 28px;
        }
      }

      &__nav {
        svg { width: 11px; }
        &:hover { cursor: pointer; }
        &.prev {
          margin-right: 5px;
          transform: rotate(90deg);
        }
        &.next {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(100% - 300px);

    @include breakpoint(tab-land) {
      max-width: 100%;
    }

    &-item {
      display: flex;
      align-items: center;
      border-radius: 15px;
      height: 34px;
      background-color: #eee;
      padding: 0 15px;
      margin-bottom: 15px;

      &:hover { cursor: pointer}

      &:not(:last-child) {
        margin-right: 15px;
      }

      svg {
        width: 11px;
        margin-left: 5px;
      }
    }
  }

  &-row {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 0;
    width: 100%;
    overflow: hidden;

    .swiper-wrapper {
      height: auto;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: fit-content !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 30px;
    text-decoration: none;
    transition: all .2s;

    @media only screen and (min-width: 1400px) {
      width: 19%;
    };

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 20px 0 rgba(16, 86, 66, 0.23);
      text-decoration: none;
    }

    &-img {
      width: 100%;
      height: 180px;
      margin-bottom: 10px;

      img { @include image-cover;}
    }

    &-content {
      padding: 10px 14px;
    }

    &-row {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 3px;
    }

    &-price {
      //font-family: "HelveticaNeue", sans-serif;
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
