.table {
  width: 100%;
  border-spacing: 0 10px;

  &-head {
    tr {
      width: 100%;
    }

    th {
      color: #838383;
      font-size: 16px;
      font-weight: 300;
      padding-left: 5px;
      padding-right: 5px;

      @include breakpoint(phone) {
        font-size: 13px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  tbody tr {
    height: 56px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;

    td {
      text-align: center;

      @include breakpoint(phone) {
        font-size: 13px;
      }

      &.green {
        color: #04a357;
      }

      &.red {
        color: #a30404;
      }
    }
  }

  &-first {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 4px 0px 10px -2px rgba(0, 0, 0, 0.04);
  }
}

.table-actions {
  padding: 0 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -4px 0px 10px -2px rgba(0, 0, 0, 0.04);

  @include breakpoint(phone) {
    padding: 0 14px;
  }
}

.table-first {
  padding: 0 20px;

  @include breakpoint(xs) {
    padding: 0 10px;
  }
}

.table-icon {
  margin-right: 10px;

  @include breakpoint(xs) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  img {
    @include breakpoint(phone) {
      width: 20px;
    }

    @include breakpoint(xs) {
      width: 20px;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.rating {
  @include flex-center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #eee;
  margin: 0 auto;

  @include breakpoint(phone) {
    width: 30px;
    height: 30px;
  }

  &.high {
    color: #04a357;
    background-color: #e7f2ed;
  }

  &.low {
    color: #a30404;
    background-color: #f2e7e7;
  }
}

.ascending {
  .sort-icons-item.up {
    opacity: 0;
  }
}

.descending {
  .sort-icons-item.down {
    opacity: 0;
  }
}

.sort-icons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 3px;

  &-item {
    margin-bottom: 3px;
    opacity: 0;

    &.up {
      transform: rotate(180deg);
    }

    &.up,
    &.down {
      opacity: 1;
    }

  }
}

.icon-more {
  display: flex;

  span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #707070;

    &:not(:last-child) {
      margin-right: 2px;
    }
  }
}

.no-mob {
  @include breakpoint(tab-land) {
    display: none;
  }
}