@mixin breakpoint($breakpoint) {
  @if $breakpoint == xxs {
    @media only screen and (max-width: 480px) { @content };
  }
  @if $breakpoint == xs {
    @media only screen and (max-width: 600px) { @content };
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 768px) { @content };
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 992px) { @content };
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1200px) { @content };
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1800px) { @content };
  }
}

@mixin image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}