//// COLORS
$color-primary: #0b5640;
$color-primary-light: #0f5641;
$color-secondary: #f7c9c9;
$color-white: #fff;
$color-grey: #f1f2f2;
$color-grey-light: #f8f8f8;
$color-grey-dark: #707070;
$color-blue: #1fa0ca;
$color-cyan: 	#30D5C8;
$color-navy: 	#000080;

///// TYPOGRAPHY
$font-primary: "Roboto", sans-serif;