@font-face {
  src: url("./fonts/HelveticaNeue.ttf");
  font-family: "HelveticaNeue";
  font-display: swap; }

/* line 7, src/styles/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 15, src/styles/base/_base.scss */
html {
  height: 100%;
  overflow-x: hidden; }

/* line 20, src/styles/base/_base.scss */
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100%; }
  @media only screen and (max-width: 992px) {
    /* line 20, src/styles/base/_base.scss */
    body {
      padding: 0; } }

/* line 33, src/styles/base/_base.scss */
#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }

/* line 40, src/styles/base/_base.scss */
.sidebar {
  width: 110px; }

/* line 44, src/styles/base/_base.scss */
a {
  color: black; }
  /* line 47, src/styles/base/_base.scss */
  a:hover {
    color: black;
    text-decoration: none !important; }

/* line 1, src/styles/components/_navigation.scss */
.logo {
  position: absolute;
  top: 16px;
  left: 30px; }

/* line 7, src/styles/components/_navigation.scss */
.nav-left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 110px;
  height: calc(100vh - 100px);
  border-top-right-radius: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  /* line 20, src/styles/components/_navigation.scss */
  .nav-left-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    list-style: none; }
    /* line 27, src/styles/components/_navigation.scss */
    .nav-left-menu__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      position: relative; }
      /* line 34, src/styles/components/_navigation.scss */
      .nav-left-menu__item:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 6px;
        height: 36px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #0b5640;
        opacity: 0;
        transition: opacity .3s; }
      /* line 50, src/styles/components/_navigation.scss */
      .nav-left-menu__item a svg path {
        transition: all .3s; }
      /* line 54, src/styles/components/_navigation.scss */
      .nav-left-menu__item:hover:before, .nav-left-menu__item.active:before {
        opacity: 1; }
      /* line 58, src/styles/components/_navigation.scss */
      .nav-left-menu__item:hover > a svg path {
        fill: #118362; }
  /* line 64, src/styles/components/_navigation.scss */
  .nav-left-bottom {
    width: 100%;
    height: 40px;
    margin-bottom: 40px; }

/* line 71, src/styles/components/_navigation.scss */
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px; }
  /* line 82, src/styles/components/_navigation.scss */
  .nav-top-panel {
    display: flex;
    align-items: center; }
  /* line 87, src/styles/components/_navigation.scss */
  .nav-top-currency {
    display: flex; }
    /* line 90, src/styles/components/_navigation.scss */
    .nav-top-currency__item {
      display: flex;
      align-items: center;
      color: #0b5640;
      font-size: 10px;
      margin-right: 10px; }
      /* line 97, src/styles/components/_navigation.scss */
      .nav-top-currency__item svg {
        width: 7px;
        margin-right: 3px; }
  /* line 104, src/styles/components/_navigation.scss */
  .nav-top-notifications, .nav-top-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 57px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    margin-right: 10px;
    padding: 3px 17px; }
    /* line 116, src/styles/components/_navigation.scss */
    .nav-top-notifications:hover, .nav-top-profile:hover {
      cursor: pointer; }
  /* line 122, src/styles/components/_navigation.scss */
  .nav-top-notifications .notifications-count {
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fc476e;
    color: white;
    font-size: 7px; }
  /* line 137, src/styles/components/_navigation.scss */
  .nav-top-profile {
    text-decoration: none; }
    /* line 140, src/styles/components/_navigation.scss */
    .nav-top-profile__img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 13px; }
      /* line 147, src/styles/components/_navigation.scss */
      .nav-top-profile__img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/* line 1, src/styles/components/_content.scss */
.content {
  width: calc(100% - 180px);
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  padding-bottom: 80px; }
  /* line 10, src/styles/components/_content.scss */
  .content-title {
    font-size: 25px;
    margin-bottom: 14px; }

/* line 2, src/styles/components/_products.scss */
.products-top {
  display: flex;
  justify-content: space-between; }
  /* line 6, src/styles/components/_products.scss */
  .products-top-panel {
    display: flex;
    align-items: flex-start;
    margin-top: 7px; }
    /* line 11, src/styles/components/_products.scss */
    .products-top-panel__link {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      margin-right: 10px;
      line-height: 21px; }
      /* line 19, src/styles/components/_products.scss */
      .products-top-panel__link.add-link {
        color: #0b5640;
        margin-right: 28px; }
    /* line 26, src/styles/components/_products.scss */
    .products-top-panel__nav svg {
      width: 11px; }
    /* line 27, src/styles/components/_products.scss */
    .products-top-panel__nav:hover {
      cursor: pointer; }
    /* line 28, src/styles/components/_products.scss */
    .products-top-panel__nav.prev {
      margin-right: 5px;
      transform: rotate(90deg); }
    /* line 32, src/styles/components/_products.scss */
    .products-top-panel__nav.next {
      transform: rotate(-90deg); }

/* line 39, src/styles/components/_products.scss */
.products-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: calc(100% - 300px); }
  /* line 45, src/styles/components/_products.scss */
  .products-filter-item {
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 34px;
    background-color: #eee;
    padding: 0 15px;
    margin-bottom: 15px; }
    /* line 54, src/styles/components/_products.scss */
    .products-filter-item:hover {
      cursor: pointer; }
    /* line 56, src/styles/components/_products.scss */
    .products-filter-item:not(:last-child) {
      margin-right: 15px; }
    /* line 60, src/styles/components/_products.scss */
    .products-filter-item svg {
      width: 11px;
      margin-left: 5px; }

/* line 67, src/styles/components/_products.scss */
.products-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden; }

/* line 76, src/styles/components/_products.scss */
.products-card {
  display: flex;
  flex-direction: column;
  width: 24%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 30px;
  text-decoration: none;
  transition: all .2s; }
  /* line 88, src/styles/components/_products.scss */
  .products-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(16, 86, 66, 0.23);
    text-decoration: none; }
  /* line 94, src/styles/components/_products.scss */
  .products-card-img {
    width: 100%;
    height: 180px;
    margin-bottom: 10px; }
    /* line 99, src/styles/components/_products.scss */
    .products-card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  /* line 102, src/styles/components/_products.scss */
  .products-card-content {
    padding: 10px 14px; }
  /* line 106, src/styles/components/_products.scss */
  .products-card-row {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 3px; }
  /* line 112, src/styles/components/_products.scss */
  .products-card-price {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 2, src/styles/components/_buyers.scss */
.buyers-top {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  /* line 7, src/styles/components/_buyers.scss */
  .buyers-top-link {
    margin-right: 10px; }
  /* line 11, src/styles/components/_buyers.scss */
  .buyers-top-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff; }
  /* line 22, src/styles/components/_buyers.scss */
  .buyers-top-icon {
    display: block; }
    /* line 25, src/styles/components/_buyers.scss */
    .buyers-top-icon:not(:last-child) {
      margin-right: 10px; }

/* line 1, src/styles/components/_tables.scss */
.table {
  width: 100%;
  border-spacing: 0 10px; }
  /* line 6, src/styles/components/_tables.scss */
  .table-head tr {
    width: 100%; }
  /* line 10, src/styles/components/_tables.scss */
  .table-head th {
    color: #838383;
    font-size: 16px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px; }
  /* line 19, src/styles/components/_tables.scss */
  .table tbody tr {
    height: 56px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff; }
    /* line 25, src/styles/components/_tables.scss */
    .table tbody tr td {
      text-align: center; }
      /* line 28, src/styles/components/_tables.scss */
      .table tbody tr td.green {
        color: #04a357; }
      /* line 32, src/styles/components/_tables.scss */
      .table tbody tr td.red {
        color: #a30404; }

/* line 39, src/styles/components/_tables.scss */
.table-actions {
  padding-left: 30px;
  padding-right: 30px; }

/* line 44, src/styles/components/_tables.scss */
.table-first {
  padding-left: 20px;
  padding-right: 20px; }

/* line 49, src/styles/components/_tables.scss */
.table-icon {
  margin-right: 10px; }

/* line 53, src/styles/components/_tables.scss */
.row {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 59, src/styles/components/_tables.scss */
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #eee; }
  /* line 66, src/styles/components/_tables.scss */
  .rating.high {
    color: #04a357;
    background-color: #e7f2ed; }
  /* line 71, src/styles/components/_tables.scss */
  .rating.low {
    color: #a30404;
    background-color: #f2e7e7; }

/* line 77, src/styles/components/_tables.scss */
.sort-icons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 3px; }
  /* line 83, src/styles/components/_tables.scss */
  .sort-icons-item {
    margin-bottom: 3px;
    opacity: 0; }
    /* line 87, src/styles/components/_tables.scss */
    .sort-icons-item.up {
      transform: rotate(180deg); }
    /* line 91, src/styles/components/_tables.scss */
    .sort-icons-item.up, .sort-icons-item.down {
      opacity: 1; }

/* line 99, src/styles/components/_tables.scss */
.icon-more {
  display: flex; }
  /* line 102, src/styles/components/_tables.scss */
  .icon-more span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #707070; }
    /* line 108, src/styles/components/_tables.scss */
    .icon-more span:not(:last-child) {
      margin-right: 2px; }
