@font-face {
  src: url("./fonts/HelveticaNeue.ttf");
  font-family: "HelveticaNeue";
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100%;

  @include breakpoint(tab-port) {
    padding: 0;
  }
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  color: black;

  &:hover {
    color: black;
    text-decoration: none !important;
  }
}